/* body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #333;
  text-align: center;
} */
.teamMainContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 40px;
  min-height: calc(100vh - 255px - 85px);
}
.team-member {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.team-member:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.team-member img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

.member-info {
  padding: 20px;
}

.member-name {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 5px;
}

.member-role {
  color: #777;
  margin-bottom: 10px;
}

.member-description {
  line-height: 1.5;
}
