.faq-item {
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;

  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.faq-question {
  padding: 15px;
  cursor: pointer;
  background-color: #f0f0f0;
  padding-left: 20px;
  padding-right: 20px;
}

.faq-answer {
  padding: 15px;
}

.faq-answer p {
  line-height: 1.5;
}

.faq-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.faqContainer {
  padding-top: 30px;
  padding-bottom: 50px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
}
