.tiles-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  padding-top: 20px;
}

.filter-sidebar {
  width: 15%;
  background-color: white;
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.filter-sidebar .price-filter {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.filter-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.priceFilterInput {
  padding: 5px 10px;
  border: none; /* Remove default borders */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box shadow */
  padding: 10px; /* Add some padding for better appearance */
  outline: none; /* Remove the default outline */
  margin-bottom: 10px;
}
.buttonGoFilter{
  padding: 5px 10px;
  border: none;
  color: white;
  background-color:#fd9043;
  border-radius: 4px;
}
.results-container {
  flex-grow: 2;
  > p {
    padding-top: 20px;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.pagination button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.primary-container {
  justify-content: left;
  height: 100%;
  display: flex;
}
